:root {
  --bgc: rgb(64 68 54);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  *edited for my needs
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select, form, fieldset, legend, label {
  font: inherit;
  appearance: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ul {
  padding: 0;
  list-style-type: none;
}

#root, #__next {
  isolation: isolate;
}



/* My styling */
body {
  height: 100vh;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6rem;    
}

form {
  background-color: #C5A880;
  width: 28rem;
  height: 30rem; 
}

h1 {
  font-family: "Castoro Titling", serif;
  font-size: 1.5rem;
  text-align: center; 
  color: #E6E6E6; 
  width: 100%;
  background-color: #532E1C;  
  padding: 1rem 1.5rem;
  vertical-align: middle;
}